.drag-area {
	padding:180px 0;
	width:100%;
	margin:0 auto 20px;
	background: #f6f6f6;
	text-align: center;
}

.drag-area.drag{
	background:#f0f0f0;
}

.drag-area input {
	margin: 0 auto;
}

#thumbnails {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}

.img_style {
	width: 250px;
	height: 250px;
	border: solid black 1px;

}

.img_style img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}
